[2017-07-12 19:38] EdwardDunn opened #1 "Add new enemy character"
Add new enemy character to the game. This can be anything but it would be advisable that the size
is similar to the existing characters.

[2017-07-12 19:44] EdwardDunn opened #2 "Add page descriptor to main page"
Great for beginners!

Add a summary of the project (as comments) at the top of the JS_Game.html page
I have marked where it should go at the top of the page

[2017-08-10 11:37] EdwardDunn opened #3 "Add keyboard controls"
Add a feature that will allow the user to use the on screen buttons or the arrow keys on the keyboard to move the character. Currently the user can only use the on screen buttons.

Visit this page for an example on how to do this - https://www.w3schools.com/graphics/game_controllers.asp

[2017-08-10 11:56] EdwardDunn opened #4 "Change player characters image"
Choose a new higher resolution image for the main character. This can be any copy-right free image but try to keep it the same overall size as the original. Remember to update the Copyrights file with the source of the image added.

![image](https://user-images.githubusercontent.com/22660271/29169667-1c2c78ce-7dcd-11e7-9fce-d0e1b0c589e9.png)

[2017-08-10 12:02] EdwardDunn opened #5 "Increase gravity value for main character (great for beginners!)"
Change the gravity value to make the main character fall faster after jumping.

This is the value to change in the JS_Game.html file

this.gravitySpeed = 3.5;

[2017-08-10 12:08] EdwardDunn opened #6 "Main character collision occurs too early"
When the main character hits an enemy horizontally, the collision is activated too early i.e. the main character image does not actually look like it hit the enemy. This is most likely an issue with the images used for the characters.

![objectcollision](https://user-images.githubusercontent.com/22660271/29169643-f23c1d08-7dcc-11e7-9b5e-6f5bc6a60f65.PNG)

[2017-08-10 12:24] EdwardDunn opened #7 "Add new level"
**Add New Level**

The new level can be similar to the first but perhaps changing the background and enemy images would be good. Also make the game harder in some way, maybe by increasing the speed at which the enemies approach at.

The new level should start after the player successfully completes the first level.

This is the code that shows completion of level 1.

//when frame number reaches 11

[2017-08-11 12:19] EdwardDunn opened #8 "Add sound effects"
It would be good to have sound effects for the movement of the main character.

**Sounds**
- Jump
- Game over
- Background music

Please only use copyright free music/sounds, and update the copyright file with the sources.

[2017-08-11 12:28] EdwardDunn opened #9 "Replace alert box message with on screen message"
Currently on game over a standard alert box displays with a message. It would be better to have a custom message that displays on screen and prompts the player to try again.

**Tasks**
- Remove alert box
- Create custom display message
- Add button to custom message prompting the user to try again
- Set to display on collision with enemy

Please just add a comment with any questions or suggestions

[2017-08-11 18:59] EdwardDunn opened #10 "Stop character going off screen"
Currently the main character can be moved off screen, this makes the game too easy because the player can keep the Jump button held down to constantly avoid the enemies.

Task
- Add boundaries so that the character stops when hitting the sides or the top of the game area.

[2017-08-16 14:47] EdwardDunn commented on #3
This issue is now assigned to @Goranmedic

[2017-08-16 14:47] EdwardDunn commented on #9
This issue is now assigned to @Goranmedic

[2017-08-16 14:48] EdwardDunn commented on #10
This issue is now assigned to @Goranmedic

[2017-08-16 16:35] krupam commented on #4
Hi,
I am a first-timer. I would love to work on this project.

[2017-08-16 19:25] EdwardDunn commented on #4
@krupam Thanks for your interest.

Best place to start is by at looking the [Contributing Guide](https://github.com/EdwardDunn/Platform-Game/blob/master/Contribution_Guide.md).

Fork the repo and get to know how the project works, then try making a contribution.

I will assign this issue to you!

[2017-08-16 21:47] krupam commented on #4
@EdwardDunn Thank you! I am excited to work on this.

[2017-08-18 14:24] #10 closed

[2017-08-18 14:25] #9 closed

[2017-08-18 14:25] #3 closed

[2017-08-18 15:14] EdwardDunn commented on #5
Issue 9 (closed) resolved this issue by setting boundaries to the screen.

[2017-08-18 15:14] #5 closed

[2017-08-18 15:28] EdwardDunn opened #15 "Reduce level 1 completion score"
The first level completes when the score counter reaches 11000, this is too high because it takes a long time to get to this score. Reduce this to 5000.

This is the code that stops the game once the score counter reaches 11000 (in script.js file).

//when frame number reaches 11000 (point at which obstacles end) end game
  if (myGameArea.frameNo == 11000){
  alert("CONGRATS YOU HAVE ESCAPED ALL T

[2017-08-20 11:42] Redarcher9 commented on #15
Hi I am a beginner and I would like to work on this. Can you help me get started with this?

[2017-08-20 21:19] EdwardDunn commented on #15
@Redarcher9 Thanks for your interest! If you have a look at the contributing guide file included in the project it will give you steps on how to get started.

If you need help with anything just leave a comment.

[2017-08-21 17:43] Redarcher9 commented on #15
i corrected the code,followed all the 11 steps listed in your contributions.md page.Did you get any pull request?

[2017-08-21 18:49] EdwardDunn commented on #15
@Redarcher9 Well done that worked great! I have merged the PR.

[2017-08-21 18:49] #15 closed

[2017-08-22 12:05] Redarcher9 opened #17 "game over message at the begining"
When i open the html file,the browser says game over.I think there should be a start button or something like that to start the game.There's a broken file symbol at the top left corner of the canvas.
![screenshot from 2017-08-22 17-35-14](https://user-images.githubusercontent.com/19843336/29564636-5222cf4a-8760-11e7-8ce5-ecc0269cb5a4.png)

[2017-08-22 18:45] EdwardDunn commented on #17
@Redarcher9 Thanks for letting us know about your issue. I haven't experienced this problem and i am unable to replicate it. Does this happen if you use a different browser?

[2017-08-22 18:52] Redarcher9 commented on #17
Yes it happens with chromium too. Does it have anything to do with Linux? Do I need to install dependencies to run this?

[2017-08-22 19:50] EdwardDunn commented on #17
@Redarcher9 Are you using Ubuntu? Can you try it with Firefox?

[2017-08-23 03:28] Redarcher9 commented on #17
This works fine on windows i just tested it.
Doesnt works on ubuntu,the screenshot attached to the first comment was taken from firefox browser.

[2017-08-23 03:36] Redarcher9 opened #19 "Jump button can be manipulated"
when jump button is pressed,the main character(hero) flies and the character comes down only when the button is released.I think there should be some time constrain for which the player can stay up in the air

[2017-08-23 15:36] EdwardDunn commented on #17
@Redarcher9 Thanks for testing it on windows. It must be a file association issue of some sort. Let me look in to this.

[2017-08-23 15:48] EdwardDunn commented on #19
@Redarcher9 Great suggestion! You could try adding a time constraint or change the button controls to only fire once on key press (rather than continuously jumping if you hold the key down). Try experimenting and let us know what you think.

[2017-08-23 16:03] EdwardDunn commented on #2
@SangTran01 is currently working on this issue

[2017-09-02 11:21] EdwardDunn opened #21 "Enhance game over display"
When the main character collides with an enemy, the game is over. A display message shows to prompt the user to restart the game.

![game_over_screenshot](https://user-images.githubusercontent.com/22660271/29995083-a0a626c8-8fd8-11e7-8f2f-7ddbe8ff4da9.PNG)

This display is a bit plain, it would be better if it fit the styling of the game more.

Any questions or ideas, post a comment.

[2017-09-09 06:38] #7 closed

[2017-09-11 15:01] #17 closed

[2017-09-14 20:37] iamstratos commented on #21
I could help with this one :)

[2017-09-14 21:19] EdwardDunn commented on #21
@iamstratos Great! When you are ready to submit your work, create a new Pull Request. Thanks for contributing.

[2017-09-14 22:06] iamstratos commented on #8
I have sounds, I will reduce the filesizes and upload them. I may find time to add them into the game too.

[2017-09-15 19:18] EdwardDunn commented on #1
Completed by Edward Dunn

[2017-09-15 19:18] #1 closed

[2017-09-15 21:11] EdwardDunn opened #25 "Intermittent error with controls"
Occasionally the controls (keys and buttons) stick in one direction. It is very intermittent but it can sometimes be reproduced by quickly pressing a range of controls when the game first starts.

[2017-09-18 19:21] #21 closed

[2017-09-18 19:22] #19 closed

[2017-09-19 18:53] EdwardDunn opened #27 "Create 3rd level"
Currently there are two levels in the game. Add a third with a new background and enemy character.

The level is created by adding a new level function in the Game.js file.
![image](https://user-images.githubusercontent.com/22660271/30609503-7c9a1d7c-9d73-11e7-847e-26e335a74680.png)

Remember to add a new if statement for startLevel3() in the UpdateGameArea function

![startlevel2_snippet](https:/

[2017-09-20 15:15] kyxap commented on #6
![img](https://content.screencast.com/users/kyxap/folders/Jing/media/cbcfad7f-469a-427e-b6c7-8b0bd962d456/00000067.png)

Is not a bug, the main character has a big hat and its looks like it was not a hit but it really was.
Those objects represented as square so with this realization my suggestion is change the good-guy img.
🌟

[2017-09-20 19:45] EdwardDunn commented on #6
@kyxap Yeah i think a new image should be used or cut out the original so that it is not square. If you choose to change the image only use copyright free and update the copyrights.txt file.

Thanks for your contributions!

[2017-09-22 05:34] brissettdwayne commented on #27
I will work on creating a 3rd level for the game.

[2017-09-22 16:08] EdwardDunn commented on #27
@brissettdwayne Great! Let me know if you need any help.

[2017-09-22 19:23] EdwardDunn opened #30 "Create bonus obstacles"
**Bonus Obstacles**

Currently the game only consists of jumping over enemy characters, the longer you stay alive the higher your score.

An additional feature could be to have bonus obstacles appear with the enemy characters, if you jump on them you get a certain amount of points added to your score.

If you need help or have any suggestions, just leave a comment.

[2017-09-23 22:28] treyhboy commented on #30
hey! I would like to work on adding the above feature

[2017-09-24 00:52] EdwardDunn commented on #30
@treyhboy great! You could add a bonus enemy character that explodes when jumped on and adds extra points to the score.

There may be a but of work in this so if you want to add a simplified version first, that would be fine.

[2017-09-24 15:17] treyhboy commented on #30
@EdwardDunn I am working on the basic one first than i will update it further if i can

[2017-09-26 15:27] #2 closed

[2017-09-26 15:37] EdwardDunn opened #32 "Add animated background"
**Add animated background**

Currently the backgrounds is a still image, it would be good if some parts where animated. An example of this would be to have moving clouds or rain. This could be done by adding extra components into the game, or you could look for copyright free backgrounds that already have some kind of effects.

Try changing the level 1 background first.

If you have any suggestion

[2017-09-29 13:34] #25 closed

[2017-09-29 13:42] EdwardDunn opened #35 "Animate player character"
**Animate player characters**

Currently the main characters are just single images. It would be good to animate the character so that when they move their position changes e.g. in a running stance. Currently there are two different player characters in the game for levels one and two. The images have been taken from sprite sheets available at;

http://www.gameart2d.com/temple-run---free-sprites.h

[2017-09-30 19:15] ghost commented on #32
I would like to take care of this as a first timer

[2017-10-01 08:33] EdwardDunn commented on #32
@Ginger90 Great! Just leave a comment if you need any help.

[2017-10-01 08:41] #27 closed

[2017-10-01 08:47] EdwardDunn opened #36 "Create 4th Level"
**Create 4th Level**

Currently there are three levels in the game. Add a fourth with a new background and enemy character.

The level is created by adding a new level function in the Game.js file (See startLevel2() function as an example).

Remember to add a new if statement for startLevel4() in the UpdateGameArea function

if (gameArea.frameNo === 3000){
   gameArea.stop();
   currentLevel++;

[2017-10-01 08:48] #4 closed

[2017-10-01 11:10] #30 closed

[2017-10-01 11:10] #6 closed

[2017-10-01 23:36] treyhboy commented on #36
A would like to work on this one @EdwardDunn
As a extended difficulty i think varying the speed of different enemy character should be a good idea
For example-enemy 1 would be coming with speed v1 and enemy 2 with v2
if u had anything else in mind kindly suggest  :)

[2017-10-02 07:32] EdwardDunn commented on #36
@treyhboy Yeah good idea!

[2017-10-03 22:13] SnGrimes commented on #35
Could I work on this as a first timer?

[2017-10-04 07:28] EdwardDunn commented on #35
@SnGrimes Great, just leave a comment if you need any help!

[2017-10-04 15:52] EdwardDunn opened #37 "Enhance player character jump"
**Enhance Player Character Jump**

Currently the player character moves around the screen fine. However the jump function is still a bit slow and laboured. It would be good if it was more like other traditional platform game character jumps.

Watch this video as an example of what i mean.
https://www.youtube.com/watch?v=Q8ivkP-qs04

Any questions or suggestions just leave a comment.

[2017-10-04 15:54] Redarcher9 commented on #37
You want a diagonal jump?

[2017-10-04 15:55] Redarcher9 commented on #37
You can do it using right and up arrow simultaneously.

[2017-10-04 21:22] EdwardDunn commented on #37
@Redarcher9 It could be good to adjust the jump settings so that every jump is slightly diagonal.

[2017-10-05 19:04] EdwardDunn opened #39 "Exploding obstacles with bonus score"
**Exploding Obstacles**

A good addition to the game would to have objects that appear in the same way the enemy characters do, but these objects give you extra points to your score if you jump on them.

These objects could also explode to show the player has successful hit them.

If you need any help or have a suggestion, just leave a comment.

[2017-10-06 09:45] ShaneWalsh commented on #39
I would like to take a stab at this as a first timer.

[2017-10-06 21:09] EdwardDunn commented on #39
@ShaneWalsh Great, just leave a comment if you need any help.

[2017-10-08 13:06] ShaneWalsh commented on #39
I think this change has a dependency on #35  since if we want to animate the explosion we can probably reuse the same code from #35
So I am no longer working on this issue. I have idea for another issue though, so ill create an issue for it.

[2017-10-08 13:08] ShaneWalsh opened #40 "Make Enemies Killable by jumping on their heads, and adding to the score."
I think it would make the game more interesting if you could element the bots instead of simply avoiding them.

I will work on this code. and create a PR, if the project doesn't want to go this way just let me know.

[2017-10-08 13:53] ShaneWalsh commented on #40
Changed score to scoreBoard.
Added score variable to gameArea to track the score.
Added method to increment score, isolating point of change.
Added increment frameNo method. (frameNo is no longer used, but frame rate may be used later so i didnt remove it)
Added new method to test for player jumping on bots.
Added new alive variable to componets, so you can setAlive(false) when a bot is killed and

[2017-10-09 07:59] EdwardDunn commented on #40
@ShaneWalsh Well done!

[2017-10-09 07:59] #40 closed

[2017-10-09 18:25] #39 closed

[2017-10-09 18:30] EdwardDunn opened #42 "Highlight Bonus Score"
**Highlight Bonus Score**

A new feature recently added allows the player to kill enemy characters by jumping on them. As a bonus, the player gets 100 extra points added to their score.

It would be good to highlight this bonus. Make the score light up (change colour) for a few seconds to show the player has received the bonus.

If you have any suggestions or need any help just leave a comment.

[2017-10-09 18:33] EdwardDunn opened #43 "New Name Suggestions?"
**New Name**

It would be good to give the game a name (rather than just platform-game).

Leave a comment if you have a suggestion or if you like someone else's suggestion.

[2017-10-09 18:42] EdwardDunn opened #44 "Game Instructions Modal"
**Game Instructions Modal**

When the game first opens it would be good to have an html modal popup with some instructions on how to play the game, like the following.

**How to play the game**
- Complete each level by avoiding the enemy characters
- You can kill the enemy by jumping on them
- Killing them also adds a bonus to your score

**Controls**
- On screen buttons
- Keyboard arrows

If you

[2017-10-10 13:21] JorgeAndd commented on #44
I will work on this one :)

[2017-10-10 18:41] EdwardDunn commented on #44
@JorgeAndd Great, let me know if you need any help.

[2017-10-11 02:05] JorgeAndd commented on #44
@EdwardDunn I created the modal and some logic to show it only at the first start of the game.
I don't have images for the title or the button, should I push it as it is and maybe open another issue for new images?

![instructions](https://user-images.githubusercontent.com/5915194/31418963-602a74e6-ae0f-11e7-9ebd-eaf297f9b94a.jpg)

[2017-10-11 03:54] brodyf42 commented on #42
I'd like to take this one.

[2017-10-11 14:23] EdwardDunn commented on #42
@brodyf42 Completed

[2017-10-11 14:30] EdwardDunn commented on #44
@JorgeAndd Looks good! Yeah go ahead and create a new pull request and i will create new issues for the images.

[2017-10-12 08:55] EdwardDunn commented on #44
@JorgeAndd Completed

[2017-10-12 08:55] #44 closed

[2017-10-12 08:59] EdwardDunn opened #47 "Player Moving After Restart Button Pressed (Intermittent)"
**Player Moving After Restart Button Pressed (Intermittent)**

There is an intermittent fault with the restart button, when pressed in quick succession the player character continually moves to the right.

A way to replicate this bug is to end the game by hitting an enemy character, press restart and then quickly hit an enemy again.

[2017-10-12 09:04] EdwardDunn opened #48 "Create Play Button for Instructions Modal"
**Create Play Button for Instructions Modal**

Currently the instruction modal is using the restart button image for starting the game

![instructions_modal_button](https://user-images.githubusercontent.com/22660271/31488026-599ecc32-af34-11e7-963a-3f749aefe17e.PNG)

Create a new Play button, you can use the existing button images as a template. These can be found in the pictures folder.

Just lea

[2017-10-12 13:56] SnGrimes commented on #35
The male character is running in a test page. I'm looking at how to implement animations in the main game.js file. Any suggestions?

[2017-10-14 11:33] steflk commented on #48
I'd like to take this one, thanks

[2017-10-14 15:06] EdwardDunn commented on #48
@steflk Completed

[2017-10-14 15:06] #48 closed

[2017-10-14 15:06] EdwardDunn commented on #36
@treyhboy Completed

[2017-10-14 15:06] #36 closed

[2017-10-14 15:10] #42 closed

[2017-10-14 16:05] EdwardDunn commented on #35
@SnGrimes Hey sorry for the late reply. Try looking at the web page that the main character image comes from (this can be found in the copyrights file). This site contains a sheet of lots of different character positions. The best way to create an animation is to make the image change when a key is pressed. For example, when the right key is pressed the character image changes to a running stance.

[2017-10-14 19:21] treyhboy opened #51 "create level 5"
Creating new level with multiple enemy with multiple skills and new player character would be good enhancement to game
i would be happy to contribute to this if you allow me to @EdwardDunn

[2017-10-14 19:22] EdwardDunn commented on #51
@treyhboy Great idea!

[2017-10-14 20:26] SnGrimes commented on #35
I'm sorry I wasn't clear. The male sprite is already animated. The character is running in his own canvas object in a test page. Right now I'm trying to figure out how to integrate his animated run into the game.  I found this [link](http://jlongster.com/Making-Sprite-based-Games-with-Canvas) and will try a separate sprite.js file to add animations into the game. If you have any suggestions about

[2017-10-15 00:19] EdwardDunn commented on #35
@SnGrimes Can you show me your code so far? Just copy and paste it in a comment.

[2017-10-15 02:48] maanvin commented on #47
@EdwardDunn Has this been fixed? When I played the game several times, I didn't come across the above mention problem. When restart is clicked the player goes back to the starting position and when spacebar is pressed, the game ends with the instructions popping up to start a new game.

[2017-10-15 07:38] maanvin commented on #47
oh i just checked....the player moves after clicking restart when the controls on the screen instead of the keyboard are used

[2017-10-15 07:45] EdwardDunn commented on #47
@maanvin You're right, it is just with the on screen buttons.

[2017-10-15 10:01] maanvin commented on #8
I have worked on this. Added all the sounds mentioned above, to the game. Can I make a pull request?

[2017-10-15 10:03] iamstratos commented on #8
@maanvin I've found some sounds but I've got no time to add them in the problem. It's fine by me, go ahead!

[2017-10-15 10:24] maanvin commented on #8
@iamstratos Thank you!

[2017-10-15 19:28] saig214 commented on #47
@EdwardDunn I have fixed this issue... can I make a pull request?

[2017-10-15 21:39] EdwardDunn commented on #47
@saig214 this issue has been assigned to @maanvin. Please allow time for this member to work on this issue. Alternatively you can open your own issues for any new additions you want.

[2017-10-16 01:07] saig214 commented on #47
@EdwardDunn okay. I was under the impression that the bug was unassigned. Can you tell me how to find if an issue is open or assigned?

[2017-10-16 11:52] maanvin commented on #47
@saig214 I was working on the sounds hence I haven't started working on this issue. You can go ahead and add it.

[2017-10-16 14:52] #8 closed

[2017-10-16 18:14] saig214 commented on #47
@maanvin thank you
@EdwardDunn Can I send a PR?

[2017-10-16 18:27] EdwardDunn commented on #47
@saig214 Yes go ahead.

[2017-10-17 01:27] SnGrimes commented on #35
I created the` loadResources()` function to load the images into an array for animating and put `loadResouces()` under the startGame() function. I originally put it in a IIFE in the Game.js file but that just blew everything up.

`function loadResources() {
    var maxFrames = 9;
    for (let x = 0; x < maxFrames; x++ ) {
        let img = new Image();
        img.src = "Pictures/Sprite Sheets/Idl

[2017-10-17 08:16] EdwardDunn commented on #35
@SnGrimes Thanks for putting your code up. HTML canvas starts to get difficult when you want to draw new components during run time. The easiest solution is to manipulate existing ones.

You could start by creating a function that loops through each of your sprite images using a timer,

function animatePlayerCharacter(){

	//Timer, set this to the frame rate you want
	var timerInterval = setInterv

[2017-10-17 16:53] EdwardDunn opened #54 "Enemy Killed Animation"
**Enemy Killed Animation**

Currently when the player character jumps on an enemy character it falls off the screen.

Create an animation that makes the enemy character explode instead of falling away every time there is a collision.

[2017-10-17 16:58] EdwardDunn commented on #35
@SnGrimes An alternative would be to use a JQuery plugin. There are a number of different ones available this one might help - http://blaiprat.github.io/jquery.animateSprite/. Remember if you use any existing software, check the license and add it in to the README.txt file.

[2017-10-17 21:04] SnGrimes commented on #35
Thank you! I will look at that one and some other plugins tonight.

[2017-10-18 13:06] EdwardDunn commented on #47
@saig214 Completed

[2017-10-18 13:06] #47 closed

[2017-10-22 15:36] skywalker212 commented on #43
what is this game about?
it would be easier to give it a name if I knew little more about it 😅

[2017-10-22 17:32] EdwardDunn commented on #43
@skywalker212 Hey, clone the repo and play the game. This will give you an idea of what the game is.

[2017-10-22 19:38] SnGrimes commented on #35
Welp, I've created a working running animation with just a difference in one line of code.
This code will create a smooth running animation with an even frame rate but the animation will not stop.
`function animatePlayerCharacter () {
    var currentTime = new Date().valueOf();
    var requestID;
    var frames = 9;
    var spriteImageCounter = Math.floor(currentTime/100) % frames;
    var toDraw

[2017-10-23 01:46] skywalker212 commented on #43
okay!

[2017-10-23 04:12] skywalker212 commented on #43
The Good, The Bad and The Jumping
how about we come up with the caracter's name?
so we can have a better name.

[2017-10-23 04:16] skywalker212 commented on #54
can we add a dissolving or fading effect?

[2017-10-23 12:38] antoschd commented on #54
@EdwardDunn since we are jumping on the enemies, why not squeeze them and make them fall to the ground? This can be done, quit simple, by changing height and using the function hitBottom. I can do a pull-request if you like to.
![animation](https://user-images.githubusercontent.com/1955026/31889228-55e5b1b8-b7ff-11e7-8f1c-b09f3302aae4.gif)
awesome first game, by the way!

[2017-10-23 12:41] sseelbach commented on #54
I don't think you can easily use the Jquery animation tools typical for CSS animation since the sprites are using the Canvas object - antoschd probably has the easiest method.

I couldn't find anything that felt like a cool death animation here:
https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API/Tutorial/Advanced_animations

[2017-10-23 14:34] EdwardDunn commented on #54
@antoschd Great idea, Its nice and simple but really adds to the game play. If other contributors want to create a more advanced animation that is fine but this is a good start. Go ahead and create a PR for your change.

I will keep this issue open for anyone who wants to keep working on animations.

[2017-10-23 14:40] EdwardDunn commented on #43
@skywalker212 Thanks for the suggestion. Feel free to come up with a character name, there may be a need for it in the future.

[2017-10-23 14:53] EdwardDunn commented on #35
@SnGrimes Could you post your code for the requestAnimationFrame() method?

I agree that using the libraries is difficult because creating multiple canvasses is tricky. A simple solution is best here.

[2017-10-23 15:06] SnGrimes commented on #35
Here is the documentation for requestAnimationFrame.
https://developer.mozilla.org/en-US/docs/Web/API/window/requestAnimationFrame

[2017-10-24 12:52] natyling commented on #43
How about Jump Or Die?  I know character names can help in the overview of the game but I feel it is simple enough to come up with a name right away.

[2017-10-24 19:05] skywalker212 commented on #43
how about Zombing
or Zombie Jumping?

[2017-10-25 11:56] AdamTheWizard commented on #43
The Jumping Dead sounds cool! like The Walking Dead lol

[2017-10-25 21:11] EdwardDunn commented on #43
@AdamTheWizard Yeah the Jumping Dead is a good suggestion.

[2017-10-25 21:14] EdwardDunn commented on #43
If anyone has any final suggestions, post them. At the start of next week two names from the suggestions will be chosen and users can vote for which one they want.

[2017-10-25 21:16] EdwardDunn commented on #35
@SnGrimes Sorry for the delay in getting back to you. Could you create a new PR request with your work so far? That way I can see exactly what code you have added.

[2017-10-25 21:37] EdwardDunn opened #57 "Bonus Stars or Coins"
**Create Bonus Star/Coin Objects**

Like in many old platform games, the player can gain extra points by collecting stars or coins.

![mario-coins](https://user-images.githubusercontent.com/22660271/32024503-b27e7fe6-b9d4-11e7-8739-665b8ef50f91.PNG)

Create a new component that works in a similar way to the enemy characters, but when the player character collides with them they get extra points.

[2017-10-26 11:21] nealkarpe opened #58 "Wrong location of images"
The images bad_guy.png, enemy2.png & good_girl.png are accessed by "Pictures/<name>.png", when they are actually located in the "pictures" directory. Hence, these images are not visible. Can I make a change to move the images to the correct location so that they are visible?

[2017-10-27 18:36] EdwardDunn commented on #58
@nealkarpe Solved the problem!

[2017-10-27 18:36] #58 closed

[2017-10-27 18:58] nealkarpe opened #60 "Fixing the restart feature"
When you die at a level higher than 1 and then click restart, it starts again from the first stage. However, the level display on the top right does not re-update to 1. I'd like to fix this! :smiley:

[2017-10-27 19:28] nealkarpe commented on #60
An example for clarity. I completed level 1 and died in the middle of level 2. In the game over menu, I clicked on the 'restart' button. Even though it begins again from stage 1, the level number displayed is not refreshed. This is how it looks after pressing restart in my example-
![gamescreenshot](https://user-images.githubusercontent.com/31779922/32121584-d6e56b40-bb7a-11e7-83e3-98a58eec210c.pn

[2017-10-28 08:09] #60 closed

[2017-10-28 08:42] nealkarpe opened #62 "Proposal to change scoring scheme"
I feel that the scoring scheme is kinda flawed in the sense that at the end of the game, the user does not get a total score accumulated through the entire course of the game. Also I feel like the score should depend upon the time elapsed + the number of enemies killed. My proposal is to change the levels to be for a certain amount of time (eg. 30 seconds), and add score as enemies are killed. Of

[2017-10-28 08:44] nealkarpe commented on #62
Also, following this scheme, coins could be available for adding to the score (as pointed out in another issue). This could be another feature to be implemented in the future!

[2017-10-29 05:00] arjbholu commented on #32
I am also working on this issue. I have made this type of cloud:
![screenshot from 2017-10-29 10 33 39](https://user-images.githubusercontent.com/8599981/32140836-c5adf872-bc94-11e7-9575-40423324a408.png)
Is that fine?

[2017-10-29 13:25] EdwardDunn commented on #62
@nealkarpe Great idea, I think that would really aid the game play of the game.

[2017-10-29 13:32] EdwardDunn commented on #32
@arjbholu That's fine to work on this issue. Your addition looks good, when you are ready create a new PR.

[2017-10-31 22:06] #32 closed

[2017-11-01 14:34] arjbholu opened #66 "Inconsistent screen after game ends when clicked outside the modal"
When a game has ended, if a user clicks outside the modal, an inconsistent screen comes up.
![screenshot from 2017-11-01 19 58 37](https://user-images.githubusercontent.com/8599981/32279800-b416adfe-bf3f-11e7-8b09-f6e4b4604ced.png)
When clicked outside the light brown box, this shows up. Then only option is to reload.
![screenshot from 2017-11-01 20 00 28](https://user-images.githubusercontent.com

[2017-11-01 18:59] EdwardDunn commented on #66
@arjbholu Good spot, I haven't seen that bug before. The current game state must be initialising too soon.

[2017-11-03 19:16] EdwardDunn commented on #66
Completed by @arjbholu

[2017-11-03 19:16] #66 closed

[2017-11-03 19:21] EdwardDunn opened #68 "Add Restart Button to Game Page"
**Add Restart Button to Game Page**

Currently the restart button only appears on the game over modal. Add this button to the main game page, this will allow users to restart the game at any time.

![platform_game_screenshot](https://user-images.githubusercontent.com/22660271/32391968-d2f644ea-c0cb-11e7-81ef-1d880cbfa6ab.PNG)

If you require any help or have a suggestion, just leave a comment.

[2017-11-03 19:27] EdwardDunn commented on #43
**Please add a thumbs up to this post if you prefer THE JUMPING DEAD as a name for the game**

[2017-11-03 19:28] EdwardDunn commented on #43
**Please add a thumbs up to this post if you prefer ZOMBIE JUMPING as a name for the game**

[2017-11-04 04:35] govindbalaji-s commented on #68
Can I take this issue up?
Let me clarify myself:
So first I have to add the button for restart in buttonWrapper in html part.
And I should make the event Handlers handle that by calling startGame(). Did I miss anything?

[2017-11-04 05:17] govindbalaji-s commented on #68
Done. I have opened PR #69

[2017-11-04 16:48] govindbalaji-s commented on #43
Jumping Dead 👍

[2017-11-10 18:59] EdwardDunn commented on #43
**The Jumping Dead has been chosen, thanks for the suggestions!**

[2017-11-10 19:07] EdwardDunn opened #70 "Create Game Name Banner"
The name of **The Jumping Dead** has been chosen for the game. To illustrate this a banner needs to be created and displayed above the game screen.

Feel free to experiment with the image but try to make it fit in with the game. This task is specifically to create a good banner so try and be imaginative.

![platform_game_screenshot2](https://user-images.githubusercontent.com/22660271/32674212-3fc2

[2017-11-10 19:07] #43 closed

[2017-11-10 19:29] AdamTheWizard commented on #43
Lol no worries! Happy to help!

[2017-11-12 12:21] YanniD commented on #68
Hi , this should have been fixed . Did a push just now (I"m new to git so i hope i did it right).

[2017-11-13 14:08] govindbalaji-s opened #72 "Named constants"
I recently tried to scale down the canvas a bit, but that was an epic failure even though I changed the 400 to 375 at all places. The jump control which depended on it froze because of it. I feel code will be easy to update further changes if it is refactored with named constants in place of raw ones.

[2017-11-13 20:02] EdwardDunn commented on #72
@govindbalaji-s Yes all constants should be easily visible. Use the naming convention of all constants in uppercase e.g. GAMELEVEL.

[2017-11-14 19:09] #35 closed

[2017-11-15 05:34] aki-sud opened #73 "GAME PAUSE!!"
The game can only be restarted and not paused right now.Hence, I would like to take up this issue so that the game can be paused.

[2017-11-16 06:07] aki-sud commented on #73
i would like to contribute to this issue if you allow me to @EdwardDunn

[2017-11-16 19:00] EdwardDunn commented on #73
@aki-sud Great idea, create a new PR when your ready. Let me know if you need any help.

[2017-11-18 12:36] govindbalaji-s commented on #72
I am sorry that I would be caught up in the school and cant be very active. I think this issue might get fixed sooner if someone else takes this up.

[2017-11-20 16:02] aki-sud commented on #73
Created a PR.

[2017-11-20 19:17] EdwardDunn commented on #73
Completed by @aki-sud

[2017-11-20 19:17] #73 closed

[2017-11-20 19:18] EdwardDunn commented on #72
@govindbalaji-s No problem, thanks for letting people know.

[2017-11-20 23:01] kedpak opened #75 "Mute music and more instructions at game start"
Hello, I like to play my own music when playing games. So I implemented a toggle music key. Also I was also working on a way to pause the game, however a pause feature is already implemented but I did not know due to no instructions. I added some more instructions at game start to pause and toggle music.

[2017-11-21 19:35] EdwardDunn commented on #75
@kedpak Good idea to add a mute music feature. The game instructions were updated this morning to show the new pause feature. If you need any help just let me know. Thanks for your interest.

[2017-11-21 21:00] kedpak commented on #75
I get this error when pushing. remote: Permission to EdwardDunn/Platform-Game.git denied to kedpak. Can you give me access?

[2017-11-22 16:00] #68 closed

[2017-11-23 16:51] EdwardDunn commented on #75
Completed by @kedpak

[2017-11-23 16:51] #75 closed

[2017-11-23 22:49] kedpak opened #77 "No character or enemies appear at level 4"
Today when I reached level 4, there are no enemies are character on screen. And the score will just keep increasing infinitely. Also, is there a reason why the score keeps reseting when a new level is reached? I am thinking of tweaking this.

[2017-11-24 22:50] CommieTaco opened #78 "Create objects instead of arrays (e.g. the keyCodes UP, DOWN...)"
Hi guys, just a little suggestion.
For the sake of making the code more easily to read and manipulate, you could create an **Object** to store keys which represent values, in this case, to store the **keyCode** for the Arrow keys (UP, DOWN, RIGHT, LEFT)
Something like this:

`const keys = {

    UP: 38,

    DOWN: 40,

    LEFT: 37,

    RIGHT: 39

} `

So, in order to invoke any value within the

[2017-11-24 22:52] doudoudev opened #79 "Background music doesn't loop well"
The file bgnd_mus.wav doesn't loop properly, you can hear a little silence at the end of it.
I am working on it.
Maybe i could change the music itself, i find it quite annoying at long?

[2017-11-27 21:59] EdwardDunn commented on #79
@doudoudev Feel free to play around with it, i agree that the loop doesn't work well.

[2017-11-27 22:00] EdwardDunn commented on #78
@CommieTaco Thanks for your input, much appreciated!

[2017-11-27 22:05] EdwardDunn commented on #77
@kedpak Yeah it might be better if the score continued in new levels rather than resetting. A future task is to add a leader board, so this would help.

The enemy number for each level is random, so sometimes there may be no enemies. Did you test this multiple times?

I think this should also be changed so that there is a minimum for the random number to ensure this does not occur.

[2017-11-30 15:46] EdwardDunn opened #82 "Add Enemy Killed Sound Effect"
**Add Enemy Killed Sound Effect**

Currently when the player character jumps on an enemy character, the enemy dies. However, there is no sound effect for this.

Add a short sound clip for this. Make sure any sounds used are copyright free and add their source into the copyrights.txt file.

If you need and help or have a suggestion, just leave a comment.

[2017-12-09 15:33] akshatm147 commented on #82
@EdwardDunn  I would like to work on this issue. Can you help me giving suggestions as how can I add the sound effects as I don't know how to do so and would like to learn that.

[2017-12-11 01:23] mdawsondev opened #83 "Documentation needs better formatting"
The current docs (README and CONTRIBUTING) could use an overhaul to make them easier for newcomers to read. Also, Contribution_Guide.md [should be named CONTRIBUTING.md for consistency](https://opensource.guide/how-to-contribute/#anatomy-of-an-open-source-project).

[2017-12-11 20:07] ShrutiArya96 commented on #70
Working on this issue.

[2017-12-13 19:36] EdwardDunn commented on #83
@mdawsondev Anything that makes it easier for newcomers is welcome. Just let me know if you need clarification on anything etc.

[2017-12-13 19:39] EdwardDunn commented on #83
Completed by @mdawsondev

[2017-12-13 19:39] #83 closed

[2017-12-13 19:44] EdwardDunn commented on #82
@chotuaashiq thanks for your interest in the project. If you have a look at how the jump sounds are implemented it will be very similar for the enemy killed sound effect. Have a look at the game.js file and try to understand the different parts.

This part of the code in the KeyDown function activates the jump audio;

if (keysPressed[UP]) {
		jump_audio=document.getElementById("jump")
		jump.autop

[2017-12-13 19:45] #79 closed

[2017-12-14 10:59] akshatm147 commented on #82
@EdwardDunn I did the same thing but the sound is still not working.

[2017-12-14 20:02] EdwardDunn commented on #82
@chotuaashiq if you submit a PR  with your progress so far I will take look.

[2017-12-17 15:25] fedeDeb commented on #51
I would like to solve this problem if there is still the possibility @EdwardDunn

[2017-12-18 12:12] Scruffy21 opened #87 "Option to disable sound effects."
Hello
This is a nice project, I'd like to try to help with it.

I noticed there's a key to disable music but no key to disable sound. And the jumping sounds might be a bit annoying to some people. It'd be nice to either add a key to disable the sound effects (for example 'e') or attach this to the 'm' key so that disabling music also disables sound effects.

If you think it's a good idea then I ca

[2017-12-18 16:43] EdwardDunn commented on #87
@scruffy21 Thanks for your interest. Good idea, I think adding it to the existing 'm' button would be best.

Just leave a comment if you need any help.

[2017-12-18 16:47] EdwardDunn commented on #51
@fedeDeb Yeah good ahead I think @treyhboy is no longer working on the issue.

Just leave a comment if you need any help.

[2017-12-18 16:57] fedeDeb commented on #51
ok, thank you!

[2017-12-18 19:16] Scruffy21 commented on #87
Actually I'm a bit confused about the lines 57-59. The code assigns _jump_audio_ to the audio element, but then _jump_audio_ is never used again. Instead _jump_  is used. But it works, so I have no idea what's happening there. Would you mind explaining?

[2017-12-18 20:10] EdwardDunn commented on #87
@Scruffy21 Good spot, that seems to have been left behind after the code was refactored to add the mute music function. You can remove 'jump_audio=document.getElementById("jump")' completely, open up a new PR for it.

[2017-12-18 20:50] Scruffy21 commented on #87
My confusion was because there was no element being assigned to the variable jump, so didn't know how it still worked. I've tried it out and it seems that you can just reference an element by its id, without needing to do document.getElementById. Didn't know that. :)

[2017-12-19 17:37] fedeDeb commented on #51
I have seen that the part in which the enemies are generated in each level and assigns a type is a bit messy. Can I change the code, using a switch case to improve its understanding? I think of assigning to a variable the number generated by Math.floor (Math.random * number of enemies) and using it as a switch condition.

[2017-12-19 19:20] EdwardDunn commented on #87
Completed by @Scruffy21

[2017-12-19 19:20] #87 closed

[2017-12-19 19:26] EdwardDunn commented on #51
@fedeDeb The Game.js file is needing a significant update to a more Object Orientated style. Feel free to make changes that reduce code duplication and make the code more readable. Please add in suitable comments and use clearly understandable names for any new variables.

Thanks for your contribution!

[2017-12-23 13:32] Scruffy21 opened #90 "game won sound effect"
I'll be adding a PR for the game won sound. It's a bit quiet, but better that than nothing, I suppose. The sound effect: https://freesound.org/people/Mativve/sounds/391539/

[2017-12-23 19:35] Scruffy21 opened #92 "pause music when game is paused"
Pause music when game is paused. I think that's a good idea.

[2017-12-23 19:39] Scruffy21 commented on #37
I think the player has too much control over how high the jump is. It's almost as if the character was levitating.

[2017-12-24 19:50] EdwardDunn commented on #90
Completed by @Scruffy21

[2017-12-24 19:51] #90 closed

[2017-12-24 19:52] EdwardDunn commented on #92
@Scruffy21 I agree, it makes sense that the music will be paused also.

[2017-12-24 19:56] EdwardDunn commented on #37
@Scruffy21 The player movement was originally planned to be like the old Mario style platform games, however it isn't quite there yet. Feel free to play around with the jump and left/right movements to see if you can get a better game play.

Thanks for you contributions so far, the game is making good progress.

[2017-12-24 20:39] Scruffy21 commented on #37
I'm trying to make sense of it now. It isn't easy...

[2017-12-26 17:53] fedeDeb commented on #51
I think I'm ready to make a pull request.
This is my first contribution, I hope not to make trouble!

[2017-12-26 20:34] EdwardDunn commented on #92
Completed by @Scruffy21

[2017-12-26 20:34] #92 closed

[2017-12-26 21:04] EdwardDunn commented on #51
@fedeDeb Great, I will look at your PR tomorrow and get back to you.

[2017-12-29 15:47] fedeDeb commented on #37
I'm also trying to solve this problem, and I think I'm on the right track. I'll keep you informed.

[2017-12-29 16:00] Scruffy21 commented on #37
Then I'll leave it to you since I didn't have much time lately to think of it. If you need some help let me know.

[2017-12-29 19:52] EdwardDunn commented on #51
Completed by @fededeb

[2017-12-29 19:52] #51 closed

[2018-01-02 19:09] fedeDeb commented on #37
I think I have improved the jump of the character, I'll do tomorrow  a pull request to show you the result. I hope I have done a good job

[2018-01-02 20:39] EdwardDunn commented on #37
@fedeDeb Great, i will take a look at it when you submit it.

[2018-01-04 10:44] RichardBoell commented on #57
I'm working on this one as my first contribution!

[2018-01-04 14:06] EdwardDunn commented on #57
@RichardBoell Great! Just leave a comment if you need any help.

[2018-01-05 15:00] prakharcipher commented on #82
I'd like to pick this issue up and solve it.

[2018-01-05 15:00] prakharcipher commented on #82
@EdwardDunn I'd like to pick this issue up and solve it.

[2018-01-05 15:16] EdwardDunn commented on #82
@prakharcipher Great, go ahead. I don't think @chotuaashiq is still working on it.

[2018-01-05 15:26] EdwardDunn commented on #57
Completed by @RichardBoell

[2018-01-05 15:26] #57 closed

[2018-01-05 15:27] #77 closed

[2018-01-05 15:28] #72 closed

[2018-01-05 18:14] mordore4 opened #97 "Refactor"
Lots of things in the code can be fixed, just seeing a startlevel2, startlevel3, 4 and 5 is horrible. The moment you get a lot of levels this becomes horrible to maintain.

I would suggest trying to turn that into one function. There's also parts where objects would be better than arrays.

Putting everything in one file also makes it pretty unorganized. So I would suggest trying to split it into c

[2018-01-05 18:42] mordore4 commented on #97
I'll split this one in a couple issues and close it

[2018-01-05 18:42] #97 closed

[2018-01-05 18:44] mordore4 opened #98 "Add config file"
Adding a config file with settings would greatly increase readability in the codebase.
You could add controls to this file and the starting situation of every game.

[2018-01-05 18:45] mordore4 opened #99 "Fix startlevel functions"
Right now there are multiple startlevel functions while there is lots of code that just repeats itself in each function. Just merging these into one function will make adding new levels way easier .

[2018-01-05 19:34] EdwardDunn commented on #37
Completed by @fedeDeb

[2018-01-05 19:34] #37 closed

[2018-01-05 19:34] EdwardDunn commented on #98
@mordore4 Great idea, just leave a comment if you need any help!

[2018-01-05 19:36] EdwardDunn commented on #99
@mordore4 I agree, there is way to much code duplication!

[2018-01-05 20:14] prakharcipher commented on #82
@EdwardDunn Hey man. I just picked and fixed it. Please do have a look. Thanks.

[2018-01-05 20:41] mordore4 commented on #99
Fixed this one, there's a small merge conflict awaiting to be resolved now tho :p

[2018-01-06 13:54] kanlanc commented on #78
Is this issue still available?

[2018-01-06 15:51] Scruffy21 opened #102 "Sometimes coin is too high to be reached"
Sometimes the coin appears on the very top of the screen which makes it impossible to reach with the new way of jumping.

[2018-01-06 15:58] Scruffy21 opened #103 "Enemies on level 5 aren't exactly on ground level"
I don't know if that was the intention, but on level 5, the spider-like enemy appears some pixels below the ground level. It's still possible to kill it, but it looks weird and is very easy to jump over.

The red enemies there aren't on the exact ground position either but a bit below it.

[2018-01-06 16:10] fedeDeb commented on #103
I will take care of it

[2018-01-06 16:54] fedeDeb opened #104 "Stop music and Pause Buttons"
I think the interface is missing buttons to stop the music and the sounds and the pause button. I can handle it if it's okay for you.

[2018-01-06 17:17] Scruffy21 opened #105 "Idea to use github pages to make the game playable online"
It would be cool to make the game online on Github Pages, and put the link to the live site in the repository's description area.

Anyone who wants to try the game could do it without having to download the code.

[2018-01-06 17:24] Redarcher9 commented on #105
http://jmcglone.com/guides/github-pages/

I found a link to do this.
@EdwardDunn this is really a cool feature you should add it to this repository.

[2018-01-07 13:13] EdwardDunn commented on #78
@highskillzz Hey, yeah this issue is available.

Just leave a comment in you need any help.

[2018-01-07 13:13] EdwardDunn commented on #104
@fedeDeb Yeah great idea!

[2018-01-07 13:15] EdwardDunn commented on #102
@Scruffy21 Yeah i noticed that too, should hopefully be an easy fix.

[2018-01-07 13:17] EdwardDunn commented on #105
@Redarcher9 @Scruffy21  Great suggestion, i will look into it.

[2018-01-07 13:31] EdwardDunn commented on #103
Completed by @fedeDeb

[2018-01-07 13:31] #103 closed

[2018-01-07 14:15] EdwardDunn commented on #105
Game is now available at **https://edwarddunn.github.io/Platform-Game**

Thanks @Redarcher9 & @Scruffy21 for this suggestion!

**Note: I have changed the name of JS_game.html to index.html for obvious reasons.

[2018-01-07 14:15] #105 closed

[2018-01-08 10:57] fedeDeb opened #108 "Enhance jump by buttons"
I noticed a difference between the jump from the keyboard and the one performed by the buttons on the screen: in this last mode I noticed that the jump is still imprecise, as if you could modulate the height, and is not perfect as performed by keyboard.
I wish I could solve it.

[2018-01-08 17:39] EdwardDunn commented on #108
@fedeDeb yes your right they aren't the same. The onscreen buttons are import for mobile users.

Just let me know if you need any help.

[2018-01-09 09:52] fedeDeb opened #110 "Character doesn't clash with enemies"
I think there is an error due to the latest changes.
The character does not clash with the enemies anymore, or am I wrong?
I was about to add my changes (which I did on the old version of the project) but I realized this.

[2018-01-09 11:40] mordore4 commented on #99
Hmm, must have been a mistake while fixing the merge conflict. I'll have a look at it later today, shouldn't take too long to figure it out since it worked just fine before resolving the conflict.

[2018-01-09 11:51] mordore4 commented on #110
Woops, I added immortality for a second for testing, seems like I forgot getting rid of it :p

[2018-01-09 11:53] fedeDeb commented on #110
no problem :)

[2018-01-09 11:59] mordore4 commented on #99
Found the issue, I tested with immortality. If you can reverse reversing the merge I can fix it in 1 minute. Else it would take me close to an hour to figure out how exactly to fix it because your reverse is ahead of my branch.

[2018-01-09 12:45] fedeDeb commented on #108
I solved the problem, to make them identical, just call the moveUp function in the mouseDown, and remove the mouseUp only for the jump.

I sent the changes, but I think I will not have the new pull request done because it has joined my previous one.

[2018-01-09 19:05] EdwardDunn commented on #102
Completed by @Scruffy21

[2018-01-09 19:05] #102 closed

[2018-01-09 19:08] EdwardDunn commented on #108
@fedeDeb No problem, i see it in your other PR.

[2018-01-10 11:57] EdwardDunn commented on #99
@mordore4 I have undone the revert, can you make your change as soon as possible, thanks!

[2018-01-11 14:36] EdwardDunn commented on #99
Sorry @mordore4 I couldn't wait any longer on you fixing the issue due to it effecting other users. I have removed the code for setting multiple lives myself.

Thanks for your contributions though, they have drastically improved the code!

[2018-01-11 14:37] #99 closed

[2018-01-11 14:37] EdwardDunn commented on #110
Fixed

[2018-01-11 14:37] #110 closed

[2018-01-11 14:38] EdwardDunn commented on #98
Completed by @mordore4

[2018-01-11 14:38] #98 closed

[2018-01-14 16:22] Scruffy21 opened #112 "Mirrored image of the character when facing left"
I had an idea to change the direction in which the playerCharacter is facing when moving on the screen. That is, face right when moving right, face left when moving left. Using mirrored versions of the original images.

I wrote most of the code already, making some small changes now. If you want this functionality then I will make a PR with it.

[2018-01-15 12:15] EdwardDunn commented on #112
@Scruffy21 Yeah good idea, go ahead and submit a PR.

[2018-01-15 19:23] EdwardDunn commented on #112
Completed by @Scruffy21

[2018-01-15 19:23] #112 closed

[2018-01-15 19:27] EdwardDunn commented on #104
Completed by @fedeDeb

[2018-01-15 19:27] #104 closed

[2018-01-15 19:28] EdwardDunn commented on #108
Completed by @fedeDeb

[2018-01-15 19:28] #108 closed

[2018-01-17 21:09] asas2016SEC commented on #70
the logo can be totally selfmade?

[2018-01-18 17:37] asas2016SEC commented on #70
Just added a logo in the game please check.

[2018-02-01 16:21] up730418 opened #115 "Add a duck feature"
This would allow the player to duck under enemies like the one in the screen shot.

![image](https://user-images.githubusercontent.com/12224925/35689252-f2d08006-076a-11e8-8342-1f02404060ec.png)

This could be controlled by pressing the down arrow and an on screen button.
This would also require new images to be designed.

[2018-02-01 22:05] EdwardDunn commented on #115
@up730418 Great idea, that would really add to the game play!

[2018-02-01 22:17] EdwardDunn opened #116 "Coin Explode Animation"
Currently when the player character hits a coin, it simply disappears.

It would look much better if a small exploding animation took place on the coin.

Or for a simple starting solution the coin could change colour before disappearing.

[2018-02-07 04:34] Germlord opened #117 "Bug: Pausing causes mute symbol to appear"
Currently, pausing the game causes the mute symbol to appear over the sound, even though pausing does not affect whether the game is muted or not.

In theory, the fix should be that the mute button's appearance doesn't change when pausing. It also might be nice to have the pause button itself disappear when paused, since it doesn't have any functionality on the pause screen.

![platformgame_bug_ic

[2018-02-07 16:23] nishkt commented on #116
Hi can I take this issue?

To figure this issue, should i try adding the animation in the function updateGameArea() in the for loop where detection with of a player with a coin is made? or should I create a new function called changeCoinStatus and work from there. Which would make it easier to read for future contributors?

[2018-02-08 06:00] Germlord commented on #117
Update: I believe I've solved the problem with the mute button displaying oddly. Will submit a pull request accordingly.

[2018-02-08 08:29] Edward1505629 commented on #116
@nishkt It would be best to create a new function and call it from the updateGameArea function. This would make it easier for other contributors to understand what you piece of code does.

[2018-02-08 12:57] robatronPrime commented on #115
Hi I would like to contribute to this enhancement.

[2018-02-08 22:10] EdwardDunn commented on #117
Completed by @Germlord

[2018-02-08 22:10] #117 closed

[2018-02-12 05:05] Germlord commented on #62
Working on this issue. It looks like enemies and coins already boost score, so my change was making it so that score is persistent from level to level.

[2018-02-13 17:37] nishkt commented on #116
So I didn't exactly make the coins explode. instead created a function called coinDisappear() that would decrease the alpha of the coin and move it upwards by increasing the y-component. Kinda like what happens in Mario. check it out. Let me know if you want me to do anything else.
![game-platformgif](https://user-images.githubusercontent.com/11956034/36164486-e9df0eb4-1105-11e8-952b-da2efaffa8bf.

[2018-02-13 19:24] EdwardDunn commented on #116
@nishkt Great! Looks good and a goes with the Mario theme that the game was originally designed on. Can you submit a PR for the change.

[2018-02-13 21:43] nishkt commented on #116
@EdwardDunn Thanks! I submitted my PR for the change. I'm sorry but this is my second PR ever so please let me know if something is wrong and I can redo it.

[2018-02-14 08:59] H27-VEN opened #121 "Support for WASD keys for movement"
As of now the game does not support WASD (or WAD) in this case so i have added the support for the same.  (W) - To **JUMP**, (A) - To move **LEFT** and (D) - To move **RIGHT**
I have already submitted PR. This is my first PR so do let me know if there are any mistakes.

[2018-02-14 14:26] EdwardDunn commented on #116
Completed by @nishkt

[2018-02-14 14:26] #116 closed

[2018-02-14 14:31] EdwardDunn commented on #121
Completed by @H27-VEN

[2018-02-14 14:31] #121 closed

[2018-02-15 15:14] chotuaashiq commented on #115
@EdwardDunn @up730418  I claim this issue

[2018-02-15 15:24] up730418 commented on #115
@EdwardDunn Can you mark this as up for grabs as i'm unable to complete it at the moment.

[2018-02-15 19:16] EdwardDunn commented on #62
Completed by @Germlord

[2018-02-15 19:16] #62 closed

[2018-02-20 18:29] ap1459 opened #126 "Coin sound effect"
Adding a sound-effect to alert the player they have successfully picked up a coin may be beneficial, and I would like to implement this. What are your thoughts @EdwardDunn ?

[2018-02-20 20:02] aricalves commented on #78
@highskillzz Are you still on this issue? If you're stuck, I can help!

[2018-02-21 15:45] Aseged opened #127 "Add walking and jumping effect to 'good_guy' character"
It would be nice if the character walks as oppose to slide to the left and right. I would like to implement this if you think its a good idea @EdwardDunn . good game

[2018-02-21 22:12] EdwardDunn commented on #127
@Aseged Yeah thats a great idea! Go ahead.

[2018-02-21 22:13] EdwardDunn commented on #126
@ap1459 Sounds like a good addition! Go ahead.

[2018-02-22 16:48] dilsheen commented on #115
@EdwardDunn Can I take this up?

[2018-02-22 17:48] Aseged commented on #126
Are you still working on this @ap1459

[2018-02-22 18:12] ap1459 commented on #126
Hi @Aseged , i've already submitted a pull request, waiting to hear back now.

[2018-02-22 18:15] Aseged commented on #126
@ap1459  ok cool, thanks for letting me know

[2018-02-23 14:15] EdwardDunn commented on #115
@dilsheen Yeah go ahead

[2018-02-23 23:06] EdwardDunn commented on #126
Completed by @ap1459

[2018-02-23 23:06] #126 closed

[2018-02-24 10:44] Aseged opened #130 "Add walking and jumping effect to 'good_girl' character"
Adde jumping and walking effect on this character.
Hint: it is necessary to use photoshop to create a copy of the same character but in different positions, much like sprite sheet but different png files. @EdwardDunn

[2018-02-24 10:45] Aseged opened #131 "Add walking and jumping effect to 'ninja' character"
Adde jumping and walking effect on this character.
Hint: it is necessary to use photoshop to create a copy of the same character but in different positions, much like sprite sheet but different png files. @EdwardDunn

[2018-02-25 17:40] Germlord opened #132 "Overall design/direction"
At this point, it might be good to discuss what the overall direction of the game is going to be--what kind of end product might we be shooting for? I could see this game evolving into a side-scrolling platformer, or an expanded version of the kind of survival game that it currently is, but it would probably help to have a more concrete idea of what to aim for. Thoughts?

[2018-02-26 23:34] kjesek commented on #115
@dilsheen are you still working on this?

[2018-02-28 22:19] EdwardDunn commented on #132
@Germlord I agree that it would be good to have a well thought out direction for the game.

The aim of the project wasn't to have an end product in sight, more to provide an easy project to contribute to for people new to coding and GitHub.

I think your idea of implementing the side-scrolling platform is what the game needs. If you would like to implement such a feature, let me know.

[2018-02-28 22:19] EdwardDunn commented on #131
@Aseged Sounds good!

[2018-03-01 05:39] Germlord commented on #132
I'll can try drafting something like that. Fair warning though, it may take me a couple days, so if anyone else wants to try their hand at this they're welcome to do so.

[2018-03-02 22:14] EdwardDunn commented on #78
Complete by @Germlord

[2018-03-02 22:14] #78 closed

[2018-03-02 23:50] Germlord opened #136 "Bug: Pressing Left/Right shortly after jump will "cancel" the jump"
It seems that pressing LEFT or RIGHT shortly after pressing down the UP key will cause a jump cancel. This doesn't seem like the sort of thing we want in game, though, since it makes it easy to accidentally jump INTO an enemy rather than over them. I'm going to see if I can figure it out--if I haven't made a pull request by then end of today (3/2/2018), it's probably safe to put this up for grabs.

[2018-03-06 15:29] EdwardDunn commented on #136
Completed by @Germlord

[2018-03-06 15:29] #136 closed

[2018-03-06 17:11] Germlord opened #138 "Bug: holding down both left and right movement keys always results in character going right"
This is a bit trickier to explain, so I'll break down the cases.

1. If the user is holding down the LEFT/A keys, and then presses RIGHT/D, the character will start moving right, and will start moving left again if RIGHT/D is released.

2. If the user is holding down RIGHT/D, and then presses LEFT/A, nothing will happen.

The problem here is consistency. In my opinion, it's unintuitive to have the

[2018-03-07 13:15] EdwardDunn commented on #138
@Germlord I agree that making the character move on the second key press makes most sense.

[2018-03-08 22:25] EdwardDunn commented on #138
Completed by @Germlord

[2018-03-08 22:25] #138 closed

[2018-03-09 08:24] DesseKande opened #141 "Dynamic background"
Dynamically move background while playerCharacter is moving.
I implemented it and i have this result :

![demo](https://user-images.githubusercontent.com/36500163/37197343-be5d41a2-237a-11e8-8de9-1d2d24773efd.gif)

What do you  think about this idea @EdwardDunn ?

[2018-03-10 08:40] EdwardDunn commented on #141
@DesseKande Looks great! Issue #132 has suggested implementing this. @Germlord have you started the side scrolling screen or can @DesseKande issue a PR for it?

[2018-03-10 20:50] Germlord commented on #141
@EdwardDunn @DesseKande
No no that looks great, please go ahead and open that pull request.

[2018-03-10 21:28] nishkt commented on #115
Hi, so i saw that this issue has not been resolved yet. Unless someone has already figured it out, I have found a solution for the ducking of the character. The gif below shows the example of ducking.
![game-platformgif](https://user-images.githubusercontent.com/11956034/37246878-2ac90b4a-24cb-11e8-8f10-59d0769ab127.gif)

Currently when the DOWN or S button are pressed, the character shrinks to a

[2018-03-11 02:03] ghost commented on #70
I'd like to work on this...

[2018-03-12 22:13] EdwardDunn commented on #115
@nishkt Thanks for attempting the issue. @dilsheen & @kjesek if you're working on this could you let us know.

I like what you have done for making the character duck, one thing I would suggest is that you can only duck when not in the air (not jumping).

Looks awesome though!

[2018-03-12 22:15] EdwardDunn commented on #70
@rurangana Great go ahead, I don't think @AanjaneyaSinghDhoni is working on this anymore.

[2018-03-13 05:46] Redarcher9 commented on #82
Is this issue solved?

[2018-03-13 06:19] nishkt commented on #115
@EdwardDunn Would you want the character to be able to move left/right while ducking? i can take away the option of ducking while jumping for sure.

I will also make the character half its size when ducking. The current third decrease seems way to small for me.

[2018-03-13 13:41] Redarcher9 opened #146 "Highscore widget"
I was thinking of adding a Highscore text at the top of the screen somewhere around the text which displays the current score. The solution I could think of is by creating a new array which stores the final scores of the current session and a new function which computes the maximum score and displays it. Can I start working on this? Can you think of any other way to make it work?

[2018-03-13 14:04] EdwardDunn commented on #115
@nishkt Yes It would be good for the character to still be able to move left and right while ducking.

I agree that half size would be better.

Thanks!

[2018-03-13 14:08] EdwardDunn commented on #146
@Redarcher9 that's a great idea.

I think your solution sounds good, perhaps make it obvious that the score is the users highest score 'your highest score'.

Let me know if you need any help.

[2018-03-13 17:27] painlibanais opened #147 "New HUD"
I thought back to a new user interface, I'd like to know if it's a good idea @EdwardDunn ?

![screen shot 2018-03-13 at 18 29 25](https://user-images.githubusercontent.com/35867791/37359000-c52dc6da-26ec-11e8-938c-9441de6fbfc5.jpg)

[2018-03-14 16:52] nishkt commented on #115
@EdwardDunn So the character is now not able to duck while in the air and is not able to jump while ducking. The character can move left and right. The halfsize duck has been implemented as well. Can I go ahead and send the PR?

[2018-03-14 22:26] EdwardDunn commented on #147
@painlibanais Great idea!

Another contributor is in the process of adding a high score element, would you mind adding this also when he submits his PR? This will be within the next couple days, I will let you know.

[2018-03-14 22:27] EdwardDunn commented on #141
Completed by @DesseKande

[2018-03-14 22:28] #141 closed

[2018-03-14 22:29] EdwardDunn commented on #115
@nishkt Yeah go ahead!

[2018-03-14 22:31] #132 closed

[2018-03-15 16:18] Redarcher9 commented on #146
I tried to update my fork with the update instructions provided in the contributions.md file.But,the repository in my profile still says 'This branch is 2 commits ahead, 7 commits behind EdwardDunn:master'.

[2018-03-15 19:39] EdwardDunn commented on #146
@Redarcher9 make sure you have the upstream repo as your remote.

'git remote -v' will show this.

[2018-03-16 08:50] EdwardDunn commented on #146
Completed by @Redarcher9

[2018-03-16 08:50] #146 closed

[2018-03-16 08:51] EdwardDunn commented on #147
@painlibanais Thats the high score functionality implemented.

If you could add this to your new interface that would be great.

[2018-03-16 08:58] EdwardDunn commented on #115
Completed by @nishkt

[2018-03-16 08:58] #115 closed

[2018-03-16 08:58] EdwardDunn commented on #82
@Redarcher9 No, feel free to take it up.

[2018-03-16 10:02] nishkt opened #150 "Add duck feature in instruction modal"
Hey guys. the duck feature is activated when the user presses 'S' or 'DOWN'. This needs to be added to the instruction modal. Additionally, a 'DUCK' button needs to be available on the screen during gameplay. n

[2018-03-17 10:35] EdwardDunn commented on #150
@nishkt good spot about adding the button, I didn't think of that.

[2018-03-17 19:24] Germlord commented on #150
I'll work on this one today.

[2018-03-18 01:59] Germlord commented on #150
Alright, update: wasn't able to figure out how to make a devoted button image for this. The instructions have been updated, but the button'll need to be added by someone else, sorry.

[2018-03-18 15:13] wwatkins09 opened #152 "Smoother transitions between levels"
Right now the transition from one level to another is very abrupt, especially if you aren't looking at the countdown clock. Would it be possible to add some sort of modal showing that you beat the level, and maybe even the amount of points you gained from that particular level? I'd be glad to open a PR for it.

[2018-03-19 05:37] Samuel-Pedraza opened #153 "domain name"
Would it be possible to map this game to a domain name?

I would be happy to throw in $5 so that people could easily associate this game with a domain name.

[2018-03-19 13:37] painlibanais commented on #147
I'm sorry for taking time to respond, i was little busy. I work on it right now.

[2018-03-20 12:07] Aseged commented on #127
@EdwardDunn  I'm sorry I been quiet, I have been preoccupied lately. I will close the open issues assigned to me soon.

[2018-03-21 08:11] EdwardDunn commented on #147
Completed by @painlibanais

[2018-03-21 08:11] #147 closed

[2018-03-21 08:12] EdwardDunn commented on #150
@Germlord No problem, thanks for updating the instructions!

[2018-03-21 08:13] EdwardDunn commented on #152
@wwatkins09 Great idea, perhaps the modal could be on a timer so that it displays for 3 seconds before opening the new level.

Any issues just leave a comment.

[2018-03-21 08:15] EdwardDunn commented on #153
@Samuel-Pedraza The game can be run from the github.io domain
https://edwarddunn.github.io/Platform-Game/index.html

Thanks for your suggestion!

[2018-03-21 14:41] painlibanais opened #157 "Make clouds pop in continue"
I would like to add clouds in continuous. Currently, the clouds are just at the beginning of the level, I would like to make them appear continuously on the whole level @EdwardDunn
![platforme](https://user-images.githubusercontent.com/35867791/37716150-1bc91a94-2d1e-11e8-900c-0b00ea945d5e.gif)

[2018-03-21 15:28] EdwardDunn commented on #157
@painlibanais That is a good idea. This has happened due to the new scrolling background.

Just leave a comment if you need any help.

[2018-03-21 20:00] Germlord commented on #157
I've already handled this one, actually. Should be solved in Pull Request #151 when that's finalized. Good work catching this, though.

[2018-03-21 21:18] EdwardDunn commented on #157
Completed by @Germlord.

@painlibanais feel free to think of new issues to create, thanks for your input.

[2018-03-21 21:18] #157 closed

[2018-03-21 21:18] #153 closed

[2018-03-22 19:01] tata81 commented on #82
Hi @EdwardDunn  Is this issue still open ? Would like to work on this issue ?Thanks
Update: Fixed this issue and tested in my local machine. If no one is working on this issue I am happy to submit pull request. Thanks

[2018-03-22 19:08] tata81 opened #161 "Same variable name for font re-declared twice"
https://github.com/EdwardDunn/Platform-Game/blob/64b95cb53b15dd8339c34dc8a550f08bf41eccc0/Game.js#L142

[2018-03-23 02:35] Germlord commented on #161
Thank you for noting this issue. This appears to be solved by Pull Request #159.

[2018-03-23 03:24] DesseKande opened #162 "Add settings button"
Give the possibility to choose keys.
![options](https://user-images.githubusercontent.com/36500163/37809948-e9e0f26a-2e51-11e8-8a9d-a759e69cef9b.jpeg)
What do you think about this idea @EdwardDunn ?

[2018-03-23 23:46] EdwardDunn commented on #152
Completed by @wwatkins09

[2018-03-23 23:46] #152 closed

[2018-03-24 08:47] #150 closed

[2018-03-24 08:47] EdwardDunn commented on #162
@DesseKande Thats a cool idea!

[2018-03-24 08:48] #161 closed

[2018-03-26 14:13] wwatkins09 opened #166 "Missing avatar"
The avatar does not appear in the first level at all, and there are no coins or enemies. All of the other levels are working normally.

[2018-03-27 21:07] EdwardDunn commented on #166
@wwatkins09 Thanks for opening the issue, this is a problem @Germlord has been working on. It is now resolved.

[2018-03-27 21:07] #166 closed

[2018-03-27 22:42] EdwardDunn commented on #162
Completed by @DesseKande

[2018-03-27 22:42] #162 closed

[2018-03-29 07:21] EdwardDunn commented on #82
Completed by @tata81

[2018-03-29 07:21] #82 closed

[2018-03-31 23:27] Germlord opened #170 "Functionality: No duck button is presented on-screen"
Currently, there is no duck button (unlike the jump, left, and right buttons) on-screen. If anybody knows the source where we got the other three button images from, that would be an ideal place to a duck button image from.

[2018-03-31 23:31] Germlord opened #171 "General: More assets!"
I would like to propose a general request for more visual assets. Currently, we have a fairly limited set of visual resources to work with. Here are things we could use more of:

-Platforms--despite the name of this game, we lack objects, aside from enemies, that the player can actually jump on.

-Backgrounds--the current backgrounds start with a fairly high ground level, making more complex jumpi

[2018-04-01 02:05] EdwardDunn commented on #171
@Germlord I totally agree. More obstacles and objects to jump on would really add to the game, a bit more like the classic Mario games.

[2018-04-01 02:07] EdwardDunn commented on #170
@Germlord it is fairly easy use the existing buttons to create a new one in most editors like paint or Photoshop.

[2018-04-04 02:57] smithmich12 commented on #70
If you haven't found what you're looking for I am willing to take a shot at it.

[2018-04-04 05:03] smithmich12 opened #173 "Volume Slider"
It would be nice to have a volume slider so users could click and drag the volume up/down. I am willing to attempt to work on this or if anyone else would like to give it a shot!

[2018-04-08 22:12] EdwardDunn commented on #173
@smithmich12 Great idea I never thought about that, go ahead.

[2018-04-08 22:13] EdwardDunn commented on #70
Completed by @smithmich12

[2018-04-08 22:13] #70 closed

[2018-04-12 01:50] Booxworm commented on #170
Tried to do a duck button, but didnt know which font was it so it looks kind of different
<img width="76" alt="jump" src="https://user-images.githubusercontent.com/38198099/38652055-d4b27d9c-3e36-11e8-8a76-c22ab2f940ca.png">
<img width="76" alt="duck" src="https://user-images.githubusercontent.com/38198099/38652020-b606f8fa-3e36-11e8-9f04-08d4168f1409.png">

[2018-04-12 02:06] Booxworm opened #174 "Mute does not work when trying to mute from settings page"
When you go into the settings, and click the mute button from there, the background music does not get muted. Unmute works though.

Mind if I try to fix it? First time contributing to open source XD

[2018-04-12 03:05] Booxworm commented on #174
#177  Tried to fix it!

[2018-04-14 20:43] EdwardDunn commented on #170
@Booxworm That looks good!

[2018-04-15 02:29] Booxworm commented on #170
Tweaked it a bit to make it look better.
#177

![jump](https://user-images.githubusercontent.com/38198099/38774278-a25cae22-4097-11e8-9053-2c4f0f63cb4b.png)
![duck](https://user-images.githubusercontent.com/38198099/38774277-9f836006-4097-11e8-9a51-595e7938801c.png)

[2018-04-15 10:00] #174 closed

[2018-04-16 21:06] EdwardDunn commented on #170
Completed by @Booxworm

[2018-04-16 21:06] #170 closed

[2018-04-20 16:18] Scruffy21 commented on #131
Hi @Aseged , how are you coming along with this? If you're no longer working on the character animations then I would take this issue. There are free spritesheets for all kinds of actions for these characters on https://www.gameart2d.com, and they would finally be walking and jumping instead of sliding!

[2018-04-25 21:02] EdwardDunn commented on #131
@Scruffy21 Go ahead, I don't think @Aseged is working on this anymore.

[2018-04-25 21:03] EdwardDunn commented on #130
@Aseged Closed due to inactivity

[2018-04-25 21:03] #130 closed

[2018-04-25 21:03] EdwardDunn commented on #127
@Aseged Closed due to inactivity

[2018-04-25 21:03] #127 closed

[2018-04-25 21:08] Aseged commented on #131
Apologies @EdwardDunn @Scruffy21 I have been really busy with other projects and will be for another 3 weeks. Go ahead with the issue.

[2018-04-26 04:58] Scruffy21 commented on #131
Okay then. Thanks. I should do this sometime this week.

[2018-05-11 15:59] Scruffy21 commented on #131
I didn't get to doing it yet, but I should do it in some time though, I promise.

[2018-05-15 10:01] EdwardDunn commented on #131
@Scruffy21 No worries, take your time.

[2018-05-20 09:38] Scruffy21 commented on #131
I noticed that the current images for the characters all have different dimensions, and so they are squished to the same size and that causes them to be sorta blurred. The aspect ratio for the character images is currently 70/60 = 1.16, while the boy img has 486/309 =  1.57, girl 491/344 = 1.42 Any idea how to resolve this? Or do we just ignore them and let them be distorted for the time being?

[2018-05-21 14:02] EdwardDunn commented on #131
@scruffy21 The only solution I can think of is to use an image editor like Photoshop to make them all consistent, an alternative would be the Gimp software that is free but a bit unintuitive to use.

[2018-05-21 21:23] Scruffy21 commented on #131
I see. I'm not so good with image editing software, and there'd be something like 3*3*8 = 72 images to edit. So probably some bulk editing needed.              I think I'll just let them a bit misshapen and see how it looks, and when someone comes around with good photoshop skills they could fix it to look better.

[2018-05-23 18:42] EdwardDunn commented on #131
@Scruffy21 It could be done programmatically but probably cleaner to use correctly scaled images. Thanks for your input!

[2018-05-24 08:33] Scruffy21 commented on #131
I'll let someone better at Photoshop deal with this issue then. Doing it programmatically would be a real pain, I think.

[2018-08-13 18:28] spike98 opened #180 "Reset Game"
I don't like how the space bar will reset the game to the first level regardless of whether the game over screen is up or not.  This can make for a player to accidentally hit space and be reset, which can be infuriating especially if the player is at a high score or hard to reach level.  This might be intentional but
to me playing it felt like a bug.

It would be great to at least have a confirmat